
 body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header-container {
    background-color: black;
    padding: 14px;
    text-align: right;
}

.home-link {
    color: #fff;
    text-decoration: none;
    margin-right: 40px;
    font-size: 18px;
}

.home-link:hover {
    text-decoration: underline;
}

.home-icon {
    width: 40px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

/* .about-link {
    color: #fff;
    text-decoration: none;
    margin-right: 80px;
    font-size: 18px;
}

.about-link:hover {
    text-decoration: underline;
}

.about-icon {
    width: 40px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
} */


.search-section {
    width: 80%;
    margin: 20px auto;
    padding: 1px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    margin: 16px 2px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 28px;
    border: none;
    background: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #555;
}

#charts {
    width: 80%;
    margin-left: 220px;
}

#charts img {
    width: 80%;
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#repo-table {
    width: 80%;
    margin-left: 220px;
    margin-top: 40px; 
}

#repo-table table {
    width: 90%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#repo-table th, #repo-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

#repo-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

#repo-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#repo-table tr:hover {
    background-color: #f1f1f1;
}
