<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GitLyzer{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>GitLyzer</h1>
            <img src="/static/images/github-mark-white.png" alt="GitHub Logo" class="github-logo">
        </div>
    </header>
    <div class="main-content">
        <div class="left-content">
            <p>GitLyzer is a web application which</p>
            <p>analyzes and visualizes user's GitHub</p>
            <p>profile and provides exciting insights.</p>
        </div>
        <div class="right-content">
            <p class="try-text">Let's Try it Now</p>
            <a href="{{ url_for('index_html') }}" class="try-button">GitHub Analyzer</a>
        </div>
    </div>
</body>
</html>
